@import './styles/config'

$borderRadius: 20px

.toolbarWrap
  position: absolute
  top: 0
  right: 0
  transform: translateX(100%)
  width: 500px
  height: 100vh
  background-color: $white
  border-bottom-left-radius: $borderRadius
  border-top-left-radius: $borderRadius
  padding: 20px
  transition: .3s ease

  &.active
    transform: translateX(0)

  .pointsWrap
    .body
      .info
        display: flex
        align-items: flex-start
        alignment: center
        font-size: 16px
        margin-bottom: 5px

        &.infoPriceLevel
          align-items: center

        span
          font-weight: bold
          margin-right: 10px

          &.mini
            font-size: 12px
            font-weight: unset
            margin-left: 5px

      .buttons
        display: flex
        justify-content: flex-end
        margin-top: 20px

        .btn
          margin-left: 10px

      .priceLevel
        display: inline-block
        width: 15px
        height: 15px
        border-radius: 100%

        &.free
          background-color: #7bed9f

        &.inexpensive
          background-color: #2ed573

        &.moderate
          background-color: #eccc68

        &.expensive
          background-color: #ff6b6b

        &.veryExpensive
          background-color: #b71540







