@import './styles/config'

.toolbarWrap
  position: absolute
  top: 0
  right: 0
  transform: translateX(100%)
  width: 300px
  height: 100vh
  background-color: $white
  transition: .3s ease

  &.active
    transform: translateX(0)


